{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Employees</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Employees</li>                
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
          </div> 
          <div class="col-lg-6 col-5 text-right">
            <a href="/employees/update/{{employee.id}}" type="button" class="btn btn-neutral"><i class="fas fa-pen mr-2" aria-hidden="true"></i>Edit</a>           
          </div>         
        </div>        
      </div>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}                  
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>  

<!-- Page content -->
<div class="container-fluid mt--6">  
  <div class="card" style="border-radius: 15px;">
    <div class="card-body text-center">
      <div class="mt-3 mb-4">
        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"          
          class="rounded-circle img-fluid" style="width: 100px;" /> -->
        <img src="{{object_url}}/profile-pic-emp-id-{{employee.id}}"
          class="rounded-circle img-fluid" style="width: 100px;" />
      </div>
      <h1 class="mb-2">{{employee.full_name}}</h1>
      <p class="text-muted mb-4">@{{employee.job}} <span class="mx-2">|</span> <a
          href="#!">{{employee.department}}</a></p>
      <div class="text-left">
        <h4 class="mt-3">More Information</h4>      
        <hr class="mt-0 mb-2">
        <div class="row pt-1">
          <div class="col-6 mb-3">
            <h4>Contact</h4>
            <p class="text-muted">{{employee.contact}}</p>
          </div>
          <div class="col-6 mb-3">
            <h4>Address</h4>
            <p class="text-muted">{{employee.address}}</p>
          </div>
        </div>
        <h4>Account Info</h4>
        <hr class="mt-0 mb-2">
        <div class="row pt-1">
          <div class="col-6 mb-3">
            <h4>Username</h4>
            <p class="text-muted">{{user.username}} {% if user.is_admin %} (Admin) {% endif %}</p>
          </div>
          <div class="col-6 mb-3">
            <h4>Email</h4>
            <p class="text-muted">{{user.email}}</p>
          </div>
        </div>        
      </div>  
      <!--     
      <div class="mb-4 pb-2">
        <button type="button" class="btn btn-outline-primary btn-floating">
          <i class="fab fa-facebook-f fa-lg"></i>
        </button>
        <button type="button" class="btn btn-outline-primary btn-floating">
          <i class="fab fa-twitter fa-lg"></i>
        </button>
        <button type="button" class="btn btn-outline-primary btn-floating">
          <i class="fab fa-skype fa-lg"></i>
        </button>
      </div>
      <button type="button" class="btn btn-primary btn-rounded btn-lg">
        Message now
      </button>
      <div class="d-flex justify-content-between text-center mt-5 mb-2">
        <div>
          <p class="mb-2 h5">8471</p>
          <p class="text-muted mb-0">Wallets Balance</p>
        </div>
        <div class="px-3">
          <p class="mb-2 h5">8512</p>
          <p class="text-muted mb-0">Income amounts</p>
        </div>
        <div>
          <p class="mb-2 h5">4751</p>
          <p class="text-muted mb-0">Total Transactions</p>
        </div>
      </div> -->
    </div>
  </div>        
  <!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body justify-content-center">          
            <div class="card-profile-image">
              <a href="#">
                <img src="{{object_url}}/profile-pic-emp-id-{{employee.id}}" class="rounded-circle">
              </a>
            </div>            
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" name="username" id="input-username" class="form-control" placeholder="Username" value="{{ current_user.username }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label " for="input-password">Password</label>
                    <input type="password" name="password" id="input-password" class="form-control" placeholder="Password">
                  </div>                    
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="text" name="email" id="input-email" class="form-control" placeholder="Email" value="{{ email }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-role">Role</label>
                    <select class="form-control" name="is_admin" id="input-role" placeholder="Role">                        
                      <option value=1>Admin</option>
                      <option value=0>User</option>                        
                    </select>
                  </div>                    
                </div>
              </div>                                
            </div>
            <hr class="my-4" />            
            <h6 class="heading-small text-muted mb-4">Employee Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-full-name">Full Name</label>
                    <input type="text" name="full_name" id="input-full_name" class="form-control" placeholder="Full Name" value="{{full_name}}">
                  </div>
                </div>                                           
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-contact">Contact</label>
                    <input type="contact" name="contact" id="input-contact" class="form-control" placeholder="Contact" value="{{ contact }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="input-profile_pic" class="form-control-label">Profile Picture</label>
                    <input class="form-control" type="file" id="input-profile_pic" name="profile_pic" accept=".png, .jpg, .jpeg, .gif"/>
                    <img src="" class="d-none"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input name="address" id="input-address" class="form-control" placeholder="Home Address" value="{{address}}" type="text">                      
                  </div>
                </div>
              </div>              
            </div>
            <hr class="my-4" />            
            <h6 class="heading-small text-muted mb-4">His/Her Job</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="departmentDataList" class="form-label">Department</label>
                      <input class="form-control" name="department" list="departmentDatalistOptions" id="departmentDataList" placeholder="Department">
                      <datalist id="departmentDatalistOptions">
                        {% for department in departments%}
                          <option value={{department}}>
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="jobDataList" class="form-label">Job Title</label>
                    <input class="form-control" name="job" list="JobDatalistOptions" id="jobDataList" placeholder="Job Title">
                    <datalist id="JobDatalistOptions">
                      {% for job in jobs%}
                        <option value="{{job}}">
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
              </div>
            </div>            
            <div class="text-right my-2 mx-auto mt-4 mb-2">
              <button type="submit" class="btn btn-primary btn-lg px-4"><b>Submit</b></button>
            </div>          
        </div>        
      </div>
    </div>
  </div>   -->

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
