{% extends 'layouts/base.html' %}

{% block title %} Employee Change Password {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Employees</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Employees</li>                
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
              </ol>
            </nav>
          </div>          
        </div>        
      </div>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}                  
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>  
  
  <!-- Page content -->
  <div class="container-fluid mt--6" style="max-width: 550px;">  
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-6">
                <h3 class="mb-0">Change Password</h3>
              </div>              
              <!-- <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <form action="{{ url_for('home_blueprint.employees_change_password',id=id) }}" method="post" enctype="multipart/form-data">                            
              <div class="row">                                                                     
                <div class="form-group">
                  <label class="form-control-label" for="input-old_password">Old Password</label>                      
                  <input type="text" name="old_password" id="input-old_password" class="form-control" placeholder="Password">                  
                </div>                                      
              </div>
              <div class="row">                                                                     
                <div class="form-group">
                  <label class="form-control-label" for="input-new_password">New Password</label>                      
                  <input type="text" name="new_password" id="input-new_password" class="form-control" placeholder="New Password">
                </div>                                      
              </div>
              <div class="row">                                                                     
                <div class="col form-group">
                  <label class="form-control-label" for="input-confirm_password">Confirm Password</label>                      
                  <input type="text" name="confirm_password" id="input-confirm_password" class="form-control" placeholder="Confirm Password">
                </div>                                      
              </div>                                                                                                
              <div class="text-right my-2 mx-auto mt-4 mb-2">
                <button type="submit" class="btn btn-primary btn-lg px-4"><b>Submit</b></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>    
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
