{% extends 'layouts/base.html' %}

{% block title %} Employee Update {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Employees</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Employees</li>                
                <li class="breadcrumb-item active" aria-current="page">{{employee.id}}</li>
              </ol>
            </nav>
          </div>          
        </div>        
      </div>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}                  
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>  
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-6">
                <h3 class="mb-0">Edit Employee</h3>
              </div>              
              <!-- <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <form action="{{ url_for('home_blueprint.employees_update',id=employee.id) }}" method="post" enctype="multipart/form-data">
              <h6 class="heading-small text-muted mb-4">Login Account</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Username</label>
                      <input type="text" name="username" id="input-username" class="form-control" placeholder="Username" value="{{ employee.username }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Password</label>
                      <input type="text" name="username" id="input-username" class="form-control" placeholder="Username" value="***" disabled>
                      <a href="#" class="btn btn-neutral">Change Password</a>
                    </div>                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email</label>
                      <input type="text" name="email" id="input-email" class="form-control" placeholder="Email" value="{{ employee.email }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-role">Role</label>
                      <select class="form-control" name="is_admin" id="input-role" placeholder="Role">
                        <option value=1>Admin</option>                        
                        <option value=0 {% if not employee.is_admin  %} selected {% endif %}>User</option>                        
                      </select>
                    </div>                    
                  </div>
                </div>                                
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Employee Details</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-full-name">Full Name</label>
                      <input type="text" name="full_name" id="input-full_name" class="form-control" placeholder="Full Name" value="{{ employee.full_name }}">
                    </div>
                  </div>                                           
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-contact">Contact</label>
                      <input type="contact" name="contact" id="input-contact" class="form-control" placeholder="Contact" value="{{ employee.contact }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="input-profile_pic" class="form-control-label">Profile Picture</label> <br/>                      
                      <img src="{{object_url}}/profile-pic-emp-id-{{employee.id}}" class="rounded-circle img-fluid mb-2" style="width: 100px;"/>
                      <input class="form-control" type="file" id="input-profile_pic" name="profile_pic" accept=".png, .jpg, .jpeg, .gif"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input name="address" id="input-address" class="form-control" placeholder="Home Address" value="{{employee.address}}" type="text">                      
                    </div>
                  </div>
                </div>                
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">His/Her Job</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">                     
                      <div class="form-group">
                        <label for="departmentDataList" class="form-label">Department</label>
                        <input class="form-control" name="department" list="departmentDatalistOptions" id="departmentDataList" placeholder="Department" value="{{employee.department}}">
                        <datalist id="departmentDatalistOptions">
                          {% for department in departments%}
                            <option value={{department}}>
                          {% endfor %}
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="jobDataList" class="form-label">Job Title</label>
                      <input class="form-control" name="job" list="JobDatalistOptions" id="jobDataList" placeholder="Job Title" value="{{employee.job}}">
                      <datalist id="JobDatalistOptions">
                        {% for job in jobs%}
                          <option value="{{job}}">
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
              </div>              
              <div class="text-right my-2 mx-auto mt-4 mb-2">
                <button type="submit" class="btn btn-primary btn-lg px-4"><b>Submit</b></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>    
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
