{% extends 'layouts/base.html' %}

{% block title %} Employees {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Employees</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>                
                <li class="breadcrumb-item active" aria-current="page">Employees</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{{url_for('home_blueprint.employees_create')}}" type="button" class="btn btn-neutral"><i class="fa fa-plus mr-2" aria-hidden="true"></i>New</a>           
          </div>          
        </div>
      </div>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}                  
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <!-- <div class="card-header border-0 d-flex flex-row justify-content-between">
            <div>
              <h3 class="mb-0">Employees</h3>            
            </div>
            <div>
              <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
            </div>
          </div> -->
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" data-sort="id">ID</th>
                  <th scope="col" class="sort" data-sort="name">Name</th>
                  <th scope="col" class="sort" data-sort="budget">Department</th>
                  <th scope="col">Job Role</th>                  
                  <th scope="col" class="sort" data-sort="status">Actions</th>
                  <!-- <th scope="col"></th> -->
                </tr>
              </thead>
              <tbody class="list">
                {% for employee in employees %}
                  <tr>
                    <td>
                      {{loop.index}}
                    </td>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{object_url}}/profile-pic-emp-id-{{employee.id}}" style="max-width:50px; max-height: 50px; object-fit: cover;">
                          <!-- <img alt="Image placeholder" src="{{img_url}}"> -->
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{employee.full_name}}</span>
                          <!-- <span class="name mb-0 text-sm">{{name}}</span> -->
                        </div>
                      </div>
                    </th>                  
                    <td>
                      {{employee.department}}                      
                    </td>
                    <td>
                      {{employee.job}}                      
                    </td>
                    <td>
                      <a href="/employees/detail/{{employee.id}}" class="btn btn-primary"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Details</a>
                      <!-- <a href="/employees/note/{{employee.id}}" class="btn btn-warning"><i class="fa fa-sticky-note mr-2" aria-hidden="true"></i>Notes</a> -->
                      <a href="/employees/delete/{{employee.id}}" class="btn btn-danger"><i class="fa fa-trash mr-2" aria-hidden="true"></i></i>Remove</a>
                    </td>                    
                  </tr>   
                {% endfor %}                           
              </tbody>
            </table>
          </div>
          <!-- Card footer -->          
        </div>
      </div>
    </div>    

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
