{% extends 'layouts/base.html' %}

{% block title %} Portfolio {% endblock title %}

{% block content %}

<!-- Page content -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-profile">
        <div class="bg-image" style="position:relative;">
          <img src="/static/assets/img/theme/kce-bg.jpg" alt="Image placeholder" class="card-img-top" >
          <div class="mask" style="background: linear-gradient(rgba(29, 38, 113, 0.5), rgba(195, 55, 100, 0.5))"></div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="https://khoochongee.netlify.app/" target="_blank">
                <img src="https://myflaskapp-emp.s3.amazonaws.com/static/kce-pp.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="tel:+6011-1171 5229" target="_blank" class="btn btn-sm btn-info  mr-4 ">Contact</a>
            <a href="mailto:khooce-wm20@student.tarc.edu.my" target="_blank" class="btn btn-sm btn-default float-right">Email</a>
          </div>
        </div>
        <div class="card-body pt-3">          
          <div class="text-center">            
            <h5 class="h2">
              Khoo Chong Ee
            </h5>
            <div class="h5 font-weight-300">
              khooce-wm20@student.tarc.edu.my
            </div>
            <div class="h5 mt-2 mb-4">
              <i class="ni business_briefcase-24 mr-2"></i>Web Developer, TARUMT
            </div>
            <p>
              A student found that data science was not the path and plan to switch the course program one semester before the final year 
            </p>
            <div class="d-flex flex-row justify-content-center">
              <a target="_blank" href="https://www.facebook.com/" style="font-size:30px; padding:0 10px;"><i class="fab fa-facebook-square"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/khoo-chong-ee-989b62195/" style="font-size:30px; padding:0 10px;"><i class="fab fa-linkedin"></i></a>
              <a target="_blank" href="https://github.com/kchongee" style="font-size:30px; padding:0 10px;"><i class="fab fa-github"></i></a>
            </div>
            <!-- <div>
              <i class="ni education_hat mr-2"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="https://myflaskapp-emp.s3.amazonaws.com/static/nathan-pp.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="tel:+6011-1171 5229" target="_blank" class="btn btn-sm btn-info  mr-4 ">Contact</a>
            <a href="mailto:khooce-wm20@student.tarc.edu.my" target="_blank" class="btn btn-sm btn-default float-right">Email</a>
          </div>
        </div>
        <div class="card-body pt-3">          
          <div class="text-center">            
            <h5 class="h2">
              Nathan Ting
            </h5>
            <div class="h5 font-weight-300">
              nathantcy-wm20@student.tarc.edu.my
            </div>
            <div class="h5 mt-2 mb-4">
              <i class="ni business_briefcase-24 mr-2"></i>Data Scientist, TARUMT
            </div>
            <p>
              A Sarawakian student trying to survive Data Science in TARUC, tanking stress and assignments one semester at a time              
            </p>
            <div class="d-flex flex-row justify-content-center">
              <a target="_blank" href="https://www.facebook.com/" style="font-size:30px; padding:0 10px;"><i class="fab fa-facebook-square"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/khoo-chong-ee-989b62195/" style="font-size:30px; padding:0 10px;"><i class="fab fa-linkedin"></i></a>
              <a target="_blank" href="https://github.com/kchongee" style="font-size:30px; padding:0 10px;"><i class="fab fa-github"></i></a>
            </div>
            <!-- <div>
              <i class="ni education_hat mr-2"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="https://myflaskapp-emp.s3.amazonaws.com/static/tsh-pp.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="tel:+6011-1171 5229" target="_blank" class="btn btn-sm btn-info  mr-4 ">Contact</a>
            <a href="mailto:khooce-wm20@student.tarc.edu.my" target="_blank" class="btn btn-sm btn-default float-right">Email</a>
          </div>
        </div>
        <div class="card-body pt-3">          
          <div class="text-center">            
            <h5 class="h2">
              Teo Shi Han
            </h5>
            <div class="h5 font-weight-300">              
              teosh-wm19@student.tarc.edu.my
            </div>
            <div class="h5 mt-2 mb-4">
              <i class="ni business_briefcase-24 mr-2"></i> Data Engineer, TARUMT
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's               
            </p>
            <div class="d-flex flex-row justify-content-center">
              <a target="_blank" href="https://www.facebook.com/" style="font-size:30px; padding:0 10px;"><i class="fab fa-facebook-square"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/khoo-chong-ee-989b62195/" style="font-size:30px; padding:0 10px;"><i class="fab fa-linkedin"></i></a>
              <a target="_blank" href="https://github.com/kchongee" style="font-size:30px; padding:0 10px;"><i class="fab fa-github"></i></a>
            </div>
            <!-- <div>
              <i class="ni education_hat mr-2"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
